<section>
    <h3>Liste des Personnels</h3>
    <article>
        <table>
            <thead>
                <tr>
                    <td>Nom</td>
                    <td>Prénom(s)</td>
                    <td>habilitation</td>
                </tr>
            </thead>
            <tr *ngFor="let a of compagnie_personnels.personnels">
                <td> {{a.nom }}</td>
                <td> 
                    {{a.prenom.join(',')}}
                </td>
                <td> {{a.habilitation }}</td>
                
            </tr>
        </table>
    </article>
</section>